@import "tailwindcss";

:root {
  --magenta: #EC008C;
  --negro: #231F20;
  --blanco: #FFFFFF;
  --gris-claro: #F5F5F5;
  --gris-medio: #999999;
}

@theme inline {
  --color-magenta: var(--magenta);
  --color-negro: var(--negro);
  --color-blanco: var(--blanco);
  --color-gris-claro: var(--gris-claro);
  --color-gris-medio: var(--gris-medio);
}

* {
  box-sizing: border-box;
}

select option {
  background-color: #ffffff;
  color: #231F20;
}

html {
  zoom: 0.90;
  scroll-behavior: smooth;
  scroll-padding-top: 80px;
}

@media (min-width: 1024px) {
  html {
    scroll-padding-top: 116px;
  }
}

body {
  background: var(--blanco);
  color: var(--negro);
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
}

